.navbar-brand {
    background-color: #4aaaa5;
    text-decoration: none;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
}


.navbar-light .navbar-brand {
    color: #ffffff;
}


.eb-header {
    border-bottom: 3px solid #cccccc;
    color: #ffffff;
    background: #ffffff
}

.bg-light {
    background-color: #ffffff!important;
}


body {
    background-image: url(../images/cross_scratches.png);
    min-height: 85vh;
}


.container {
    background-color: #ffffff;
}

.container-eb {
    border: 1px solid #CCCCCC;
   
}

h1 {
    border-bottom: 3px solid #CCCCCC;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 2em;
}

.submit-eb {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.img-fluid {
    border: 3px solid #666666;
}

.bannerAbsolute-eb {
    position: absolute;
    z-index: 2;
    background: #4aaaa5;
    bottom: 25px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
}

a.white {
    text-decoration: none;
    color: white;
}

.bannerAbsolute-eb:hover {
    background: #666666;
}

.contentHeight-eb {
    min-height: 95vh;
}

.footerEmily {  
    border-top: 4px solid #4aaaa5;
}

.footer-text-eb {
    font-size: 10px;
}


.bg-dark {
    background-color: #666666!important;
    
}

.socialLinks {
    width: 20px;
}
