/* 
font-family: 'Major Mono Display', monospace;
font-family: 'Raleway', sans-serif; (with 400,400i,700)
 */

.navbar-brand {
    background-color: #4aaaa5;
    font-size: 40px;
    text-align: center;
}

.navbar-brand:hover {
    background: #666666;
}

#myName {
    font-family: 'Major Mono Display', monospace;
    font-size: 2em;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
}

.eb-header {
    border-bottom: 3px solid #cccccc;
    color: #ffffff;
    background: #ffffff
}

.bg-light {
    background-color: #ffffff!important;
}


body {
    background-image: url(../images/cross_scratches.png);
    min-height: 85vh;
}


.container {
    background-color: #ffffff;
}

.paragraph-eb p {
    font-family: 'Raleway', sans-serif;
}

.container-eb {
    border: 1px solid #CCCCCC;
}

.EB-h1 {
    color: #4aaaa5;
    font-family: 'Major Mono Display', monospace;
    font-size: 2em;
}

.EB-h2 {
    font-family: 'Raleway', sans-serif;
    color: #4aaaa5;
    font-size: 1.5em;
}

.submit-eb {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.flexy-eb {
    flex-wrap: wrap;
}

.img-fluid {
    border: 3px solid #666666;
}

.bannerAbsolute-eb {
    position: absolute;
    z-index: 2;
    background: #4aaaa5;
    bottom: 25px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: white;
}

a.white {
    text-decoration: none;
    color: white;
}

.bannerAbsolute-eb:hover {
    background: #666666;
}

.contentHeight-eb {
    min-height: 90vh;
}

.code-link {
    padding-bottom: 1rem;
    padding-top: .5rem;
    width: 75%;
}

.code-link p, .code-link ul li  {
    color: #666666;
    margin: 0px;
    font-size: 12px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

/* including just to have a little space after the list */
.code-link p {
    padding-top: 5px;
}

.footerEmily {  
    border-top: 4px solid #4aaaa5;
}

.footer-text-eb {
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}

.img-group {
    background: #66666610;
    margin-bottom: 1rem;
    padding-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 2%;
    width: 30%;
}

.contact-group {
    background: #66666610;
    margin-top: 2rem;
    border-radius: 2%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contact-group img {
    width: 100%;
}

.contact-details {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.featured {
    /* width: 100%; */
}

.featured-contnet {
    display: flex;
    justify-content: space-around;
}


.bg-dark {
    background-color: #666666!important;   
}

.socialLinks {
    width: 20px;
}

.list-group-item {
    margin: 10px;
}
